<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='taxonomy.js') }}"></script>
    <link href="{{ url_for('static', filename='mui.min.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="mui-appbar mui--text-center">
        <table width="100%">
            <tr style="vertical-align:middle;">
                <td class="mui--appbar-height">
                    <h1>/r/edditonomy</h1>
                </td>
            </tr>
        </table>
    </div>

    <div class="mui-container" style="margin: 50px auto; margin-bottom: 0;">
        <div class="mui-panel" style="padding: 50px;">
            <div class="mui-row">
                <div class="mui--text-headline">
                    /r/edditonomy is a taxonomy builder for subreddit communities
                </div>
            </div>
            <div class="mui-row">
                <div class="mui--text-dark-secondary mui--text-title">
                    it uses latent dirichlet allocation for topic classification
                </div>
            </div>
            <div class="mui-row" style="margin-top: 20px;">
                <select id='subreddit-selector' class="mui-btn mui-btn--large mui-btn--primary" name="dropdown" style="font-size: 20px; width: 400px; padding: 20px; text-transform: lowercase;">
                    <option value=None>select a subreddit</option>
                    {% for subreddit in subreddits %}
                    <option value={{ subreddit }}>/r/{{ subreddit }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="mui-container">
        <div id="results" class="mui-row">
        </div>
    </div>
</body>
</html>
