<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='rangeslider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <link href="{{ url_for('static', filename='mui.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='rangeslider.min.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="mui-appbar mui--text-center">
        <table width="100%">
            <tr style="vertical-align:middle;">
                <td class="mui--appbar-height">
                    <h1>/r/edditonomy</h1>
                </td>
            </tr>
        </table>
    </div>
    <div class="mui-container" style="margin: 50px auto;">
        <div class="mui-panel" style="padding: 50px;">
            <div class="mui--text-headline">
                /r/edditonomy is a taxonomy builder for subreddit communities.
            </div>
            <div class="mui--text-subhead">
                it uses latent dirichlet allocation to extract the most important features.
            </div>
        </div>
    </div>
    {% set panel = True %}
    {% if panel %}
    <div class="mui-container" style="margin: 50px auto;">
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
                <div class="mui-panel" style="padding: 50px;">
                    <h2>choose a subreddit</h2>
                    <div class="mui-dropdown">
                        <button id='subreddit-selector' class="mui-btn mui-btn--primary" data-toggle="dropdown">
                            subreddits
                            <span class="mui-caret"></span>
                        </button>
                        {% set subreddits = ['/r/politics', '/r/worldnews', '/r/nba'] %}
                        <ul class="dropdown_menu">
                            {% for subreddit in subreddits %}
                            <li><a href="#">{{ subreddit }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h2>choose a daterange</h2>
                    <div class="rangeslider-wrap">
                        <input type="range" min="0" max="5" step="1" labels="0, 1, 2, 3, 4, 5">
                    </div>
                </div>
            </div>

            <div class="mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
                <div class="mui-panel" style="padding: 50px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-12 mui-col-md-12 mui-col-lg-12">
                            <h2>redditonomy for
                                <div class="mui--text-accent-secondary">
                                    {{ data['subreddit'] }}<span id="date"></span>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <table id="taxonomy" class="mui-table mui-table--bordered">
                        <thead>
                            <tr>
                                <th>term</th>
                                <th>relevancy</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for term in data['results'] %}
                            <tr>
                                <td>{{ term[0] }}</td>
                                <td>{{ term[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hl/>
                    <div class="mui-panel-footer">
                        Vocab size: <span id='vocab'>{{ data['vocab_size'] }}</span>
                        <br/>
                        Num docs: <span id='documents'>{{ data['corpus_size'] }}</span>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
</body>

<script>
 $('#subreddit-selector').dropdown();
 $('input[type="range"]').rangeslider({
  // Feature detection the default is `true`.
    // Set this to `false` if you want to use
    // the polyfill also in Browsers which support
    // the native <input type="range"> element.
    polyfill: false,

// Default CSS classes
    rangeClass: 'rangeslider',
    disabledClass: 'rangeslider--disabled',
    horizontalClass: 'rangeslider--horizontal',
    fillClass: 'rangeslider__fill',
    handleClass: 'rangeslider__handle',

    // Callback function
    onInit: function() {
      $rangeEl = this.$range;
      // add value label to handle
      var $handle = $rangeEl.find('.rangeslider__handle');
      var handleValue = '<div class="rangeslider__handle__value">' + this.value + '</div>';
      $handle.append(handleValue);
      
      // get range index labels 
      var rangeLabels = this.$element.attr('labels');
      rangeLabels = rangeLabels.split(', ');
      
      // add labels
      $rangeEl.append('<div class="rangeslider__labels"></div>');
      $(rangeLabels).each(function(index, value) {
        $rangeEl.find('.rangeslider__labels').append('<span class="rangeslider__labels__label">' + value + '</span>');
      })
    },

    // Callback function
    onSlide: function(position, value) {
      var $handle = this.$range.find('.rangeslider__handle__value');
      var results = [
          {date: '01-01-2008', vocabsize: 10000, numdocs: 100, scores: [['repub', '0.03'], ['demo', '0.02']]},
          {date: '01-08-2008', vocabsize: 20000, numdocs: 1000, scores: [['repub', '0.03'], ['demo', '0.02']]},
          {date: '01-15-2008', vocabsize: 30000, numdocs: 10000, scores: [['repub', '0.03'], ['demo', '0.02']]},
          {date: '01-21-2008', vocabsize: 40000, numdocs: 100000, scores: [['repub', '0.03'], ['demo', '0.02']]},
          {date: '01-28-2008', vocabsize: 50000, numdocs: 1000000, scores: [['repub', '0.03'], ['demo', '0.02']]},
      ];
      var thisEntry = results[this.value];
      $('#date').text(', ' + thisEntry['date']);

      $('#taxonomy tbody').empty();
      for (var i = 0; i < thisEntry['scores'].length; i++) {
          $('#taxonomy tbody')
              .append($('<tr>')
                  .append($('<td>').text(thisEntry['scores'][i][0]))
                  .append($('<td>').text(thisEntry['scores'][i][1]))
          );
      }

      $('#vocab').text(thisEntry['vocabsize']);
      $('#documents').text(thisEntry['numdocs']);
    },

    // Callback function
     onSlideEnd: function(position, value) {
     }
});
</script>
</html>
