<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='rangeslider.min.js') }}"></script>
    <link href="{{ url_for('static', filename='mui.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='rangeslider.min.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="mui-appbar mui--text-center">
        <table width="100%">
            <tr style="vertical-align:middle;">
                <td class="mui--appbar-height">
                    <h1>/r/edditonomy</h1>
                </td>
            </tr>
        </table>
    </div>

    <div class="mui-container" style="margin: 50px auto; margin-bottom: 0;">
        <div class="mui-panel" style="padding: 50px;">
            <div class="mui--text-headline">
                /r/edditonomy is a taxonomy builder for subreddit communities.
            </div>
            <div class="mui--text-subhead">
                it uses latent dirichlet allocation to extract the most important features.
            </div>
        </div>
    </div>

    {% set subreddits = ['/r/politics', '/r/worldnews', '/r/nba'] %}
    <div class="mui-container" style="margin: 50px auto; margin-top: 0;">
        <div class="mui-row">
            <div class="mui-col-sm-12 mui-col-md-12 mui-col-lg-12">
                <div class="mui-panel" style="padding: 50px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-8 mui-col-md-8 mui-col-lg-8">
                            <select id='subreddit-selector' class="mui-btn mui-btn--large mui-btn--primary" name="dropdown" style="font-size: 24px; text-transform: lowercase; width: 300px;">
                                <option value=None>select subreddit</option>
                                {% for subreddit in subreddits %}
                                <option>{{ subreddit }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mui-col-sm-4 mui-col-md-4 mui-col-lg-4">
                            <h2 id="info" class="mui--text-accent-secondary">
                                <span id="subreddit"></span>
                                <br/>
                                <span id="date"></span>
                            </h2>
                        </div>
                    </div>
                    <div class="mui-row">
                        <div class="mui-col-sm-12 mui-col-md-12 mui-col-lg-12">
                            <h2>choose a daterange</h2>
                            <div id="rangeslider-wrapper" class="rangeslider-wrap">
                                <input type="range" min="0" max="0" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
                <div class="mui-panel" style="padding: 50px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-12 mui-col-md-12 mui-col-lg-12">
                            <h2>LDA - Expectation Maximization
                                <div id='info' class="mui--text-accent-secondary">
                                    <span id="lda-em"></span>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <table id="taxonomy" class="mui-table mui-table--bordered">
                        <thead>
                            <tr>
                                <th>term</th>
                                <th>relevancy</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <hl/>
                    <div class="mui-panel-footer">
                        <span id="vocab"></span>
                        <br/>
                        <span id="documents"></span>
                    </div>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
                <div class="mui-panel" style="padding: 50px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-12 mui-col-md-12 mui-col-lg-12">
                            <h2>LDA - Online
                                <div id='info' class="mui--text-accent-secondary">
                                    <span id="lda-em"></span>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <table id="taxonomy" class="mui-table mui-table--bordered">
                        <thead>
                            <tr>
                                <th>term</th>
                                <th>relevancy</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <hl/>
                    <div class="mui-panel-footer">
                        <span id="vocab"></span>
                        <br/>
                        <span id="documents"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
 $(document).ready(function() {
    initialize_slider();

    $('#subreddit-selector').on('change', function() {
        if (this.value) {
            var subreddit = this.value.split('/')[2];

            $(document).data('subreddit', subreddit);

            $.ajax({
                url: "http://127.0.0.1:5001/q/"+subreddit,
                dataType: 'json',
                async: false,
                success: function(data) {
                    $(document).data('results', data);
                }
            });

            results = $(document).data('results');
            subreddit = $(document).data('subreddit');
            $('#subreddit').text('/r/' + subreddit);

            $('#date').text(results[0]['date']);
            $('#taxonomy tbody').empty();
            for (var i = 0; i < results[0]['results'].length; i++) {
                $('#taxonomy tbody')
                    .append($('<tr>')
                        .append($('<td>').text(results[0]['results'][i][0]))
                        .append($('<td>').text(results[0]['results'][i][1]))
                );
            }

            $('#vocab').text('Vocab size: ' + results[0]['vocabsize']);
            $('#documents').text('Number of documents: ' + results[0]['numdocs']);

            var numweeks = results.length - 1;
            $('#rangeslider-wrapper').empty()
                                    .html('<input type="range" value="0" min="0" max="' + numweeks + '" step="1">');
            initialize_slider();
        } else {
            $('#subreddit').text();
            $('#date').text();
        }
    });
});

function initialize_slider() {
    $('input[type="range"]').rangeslider({
    // Feature detection the default is `true`.
        // Set this to `false` if you want to use
        // the polyfill also in Browsers which support
        // the native <input type="range"> element.
        polyfill: false,

    // Default CSS classes
        rangeClass: 'rangeslider',
        disabledClass: 'rangeslider--disabled',
        horizontalClass: 'rangeslider--horizontal',
        fillClass: 'rangeslider__fill',
        handleClass: 'rangeslider__handle',

        // Callback function
        onInit: function() {},

        // Callback function
        onSlide: function(position, value) {
            var $handle = this.$range.find('.rangeslider__handle__value');
            results = $(document).data('results');
            var thisEntry = results[this.value];
    
            $('#date').text(thisEntry['date']);
            $('#taxonomy tbody').empty();
            for (var i = 0; i < thisEntry['results'].length; i++) {
                $('#taxonomy tbody')
                    .append($('<tr>')
                        .append($('<td>').text(thisEntry['results'][i][0]))
                        .append($('<td>').text(thisEntry['results'][i][1]))
                );
            }
            $('#vocab').text('Vocab size: ' + thisEntry['vocab_size']);
            $('#documents').text('Number of documents: ' + thisEntry['corpus_size']);
        },

        // Callback function
        onSlideEnd: function(position, value) {}
    });
}
</script>
</html>
